<main>
    <article>

        <!-- 
        - #PORTFOLIO
      -->

        <section class="section portfolio" aria-labelledby="portfolio-label">
            <div class="container">

                <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

                <ul class="portfolio-list">

                    <li>

                        <div class="portfolio-card">

                            <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                <img src="./assets/images/portfolio-1.jpg" width="800" height="540" loading="lazy"
                                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                                <a href="https://github.com/jaswanthsaik/React-Projects/tree/main/react-foodorder"
                                    target="_blank" class="btn-icon"
                                    aria-label="More about Website Design for Marketing Agency Startup">
                                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                </a>
                            </div>

                            <div class="card-content">

                                <span class="chip label-md">Food Order App</span>

                                <h3 class="title-md">website designed for Restaurents</h3>

                                <p class="card-text">
                                    Web-based platform that allows users to search, Add, and manage
                                    food items from various restaurents, providing a convenient and efficient solution
                                    for delivery needs.
                                </p>
                                <a href="https://github.com/jaswanthsaik/React-Projects/tree/main/react-foodorder"
                                    target="_blank" class="btn btn-primary">View Project</a>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="portfolio-card">

                            <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                <img src="./assets/images/portfolio-2.png" width="800" height="540" loading="lazy"
                                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                                <a href="https://github.com/jaswanthsaik/Angular-projects/tree/main/figma"
                                    target="_blank" class="btn-icon"
                                    aria-label="More about Website Design for Marketing Agency Startup">
                                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                </a>
                            </div>

                            <div class="card-content">

                                <span class="chip label-md">Ui Design</span>

                                <h3 class="title-md">Website Design for Figma-Events</h3>

                                <p class="card-text">
                                    I created UI Design Daily to be able to share these designs with anybody who is
                                    interested in using them as inspiration or research material.
                                </p>

                                <a href="https://github.com/jaswanthsaik/Angular-projects/tree/main/figma"
                                    target="_blank" class="btn btn-primary">View Project</a>


                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="portfolio-card">

                            <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                <img src="./assets/images/portfolio-3.png" width="800" height="540" loading="lazy"
                                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                                <a href="https://github.com/jaswanthsaik/3D-Portfolio" target="_blank" class="btn-icon"
                                    aria-label="More about Website Design for Marketing Agency Startup">
                                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                </a>
                            </div>

                            <div class="card-content">

                                <span class="chip label-md">3D Portfolio</span>

                                <h3 class="title-md">Website Design for 3D-view</h3>

                                <p class="card-text">
                                    I design and develop services for customers of all sizes, specializing in creating
                                    stylish, modern
                                    websites, web services and online stores
                                </p>

                                <a href="https://github.com/jaswanthsaik/3D-Portfolio" target="_blank"
                                    class="btn btn-primary">View Project</a>


                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="portfolio-card">

                            <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                                <img src="./assets/images/portfolio-4.png" width="800" height="540" loading="lazy"
                                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                                <a href="https://github.com/jaswanthsaik/Angular-projects/tree/main/angular-login-ui"
                                    target="_blank" class="btn-icon"
                                    aria-label="More about Website Design for Marketing Agency Startup">
                                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                                </a>
                            </div>

                            <div class="card-content">

                                <span class="chip label-md">Web design</span>

                                <h3 class="title-md">Website Design for Startup company</h3>

                                <p class="card-text">
                                    Web application that enables users to search for jobs openings, view estimated
                                    salary ranges for positions, and locate available jobs based on ther current
                                    location
                                </p>

                                <a href="https://github.com/jaswanthsaik/Angular-projects/tree/main/angular-login-ui"
                                    target="_blank" class="btn btn-primary">View Project</a>


                            </div>

                        </div>
                    </li>

                </ul>

            </div>
        </section>

    </article>
</main>